body {
  color: #fff;
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}
.square1, .square2, .square3{
  background: #2db34a;
  height: 95px;
  width: 95px;
  line-height: 95px;
  text-align: center;
  transition-property: background,width;
  transition-duration: 1s;
  transition-timing-function: linear;
  cursor: pointer;
}
/*Inside box*/
/*.box:hover > .square1{
  background: blue;
  color:black;
  width: 200px;
}*/

/*Right after hover element*/
/*.box:hover + .square2{
  background: blue;
  color:black;
  width: 200px;
}*/

/*Some where beside element*/
.box:hover ~ .square3{
  background: blue;
  color:black;
  width: 200px;
}
.imageContainer{
  /*background-image: url('../img/1.png');*/
  height: 400px;
  width: 300px;
  position: relative;
}
.hover{
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 50%;
  background-color: white;
}body {
  color: #fff;
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}
.square1, .square2, .square3{
  background: #2db34a;
  height: 95px;
  width: 95px;
  line-height: 95px;
  text-align: center;
  transition-property: background,width;
  transition-duration: 1s;
  transition-timing-function: linear;
  cursor: pointer;
}
/*Inside box*/
/*.box:hover > .square1{
  background: blue;
  color:black;
  width: 200px;
}*/

/*Right after hover element*/
/*.box:hover + .square2{
  background: blue;
  color:black;
  width: 200px;
}*/

/*Some where beside element*/
.box:hover ~ .square3{
  background: blue;
  color:black;
  width: 200px;
}
.imageContainer{
  overflow: hidden;
}
.imageContainer img{
  height: 400px;
  width: 300px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
.hover{
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 0%;
  background-color: rgba(152, 55, 55, 0.0);;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  overflow: auto;
}
.icon-snapchat{
  position: absolute;
  right: 10px;
  top:10px;
  font-size: 30px;
  transform: rotate(0deg);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
.temp a{
  opacity: 0;
  position: absolute;
  text-decoration: none;
  bottom: 12px;
  right: 14%;
  color: white;
  width: 24%;
}
.imageContainer:hover .icon-snapchat{
  transform: rotate(360deg);
}
.imageContainer:hover > img{
  height: 450px;
  width: 350px;
  margin-left:-30px;
  margin-top:-10px;
}
.imageContainer:hover > .hover{
  background-color: rgba(152, 55, 55, 1);;
  width:100%;
}
.imageContainer:hover > .temp a{
  opacity: 1;
  color: white;
  transition-property: opacity,color;
  transition-duration: 0s;
  transition-timing-function: step-start;
  transition-delay : 0.5s;
}